In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
b = a

In [4]:
print(b)

3

In [5]:
c = a+b

In [6]:
print(c)

6

In [7]:
num = a

In [8]:
num2 = num +1

In [9]:
print(num2)

4

In [10]:
num = 12
name = 'Sean'
status = True
print(num, name, status)

12 Sean True

In [11]:
num

12

In [12]:
waiting_list = []
waiting_list.append('Sean')
print(waiting_list)

['Sean']

In [13]:
guest = 'Jennifer'
waiting_list.append(guest)

In [14]:
waiting_list

['Sean', 'Jennifer']

In [15]:
team = ['Yoori', 'Steven']
waiting_list.append(team)
waiting_list

['Sean', 'Jennifer', ['Yoori', 'Steven']]

In [16]:
waiting_list[0]

'Sean'

In [18]:
waiting_list[3]

IndexError: list index out of range

In [19]:
waiting_list[2][0]

'Yoori'

In [20]:
dictionary = {'apple':'사과', 'pear':'배'}

In [21]:
dictionary

{'apple': '사과', 'pear': '배'}

In [22]:
dictionary['banana':'바나나']
dictionary

TypeError: unhashable type: 'slice'

In [23]:
dictionary['banana'] = '바나나'
dictionary

{'apple': '사과', 'pear': '배', 'banana': '바나나'}

In [24]:
group1 = set([1,4,6,8,3,3,1])
group1

{1, 3, 4, 6, 8}

In [25]:
group2 = set([2,4,6,8,6,4,2])
group2

TypeError: set expected at most 1 argument, got 7

In [26]:
group2 = set([2,4,6,8,6,4,2])
group2

{2, 4, 6, 8}

In [27]:
print(group1 & group2)

{8, 4, 6}

In [28]:
print(group1 | group2)

{1, 2, 3, 4, 6, 8}

In [29]:
age = 19
if age < 20:
    print("미성년자입니다")
else:
    print("성인입니다")

미성년자입니다

In [30]:
score=85
if score > 90:
    print('A')
elif score > 80:
    print('B')
else:
    print('C')

B

In [31]:
fruit = ['배', '딸리', '사과']
print(fruit[0])

배

In [32]:
for i in fruit:
    print(i)

배
딸리
사과

In [33]:
countries = ['korea', 'china', 'janpan', 'USA']
for country in countries:
    print(country)

korea
china
janpan
USA

In [34]:
def sum(a, b):
    return a + b

In [35]:
result = sum(3,5)
result

8